In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
import pandas as pd
matplotlib.use("TkAgg")

In [2]:
# Load dataset
df = pd.read_csv("/Users/udayrajsingh/Desktop/Projects/Uber Fraud Detection/Data/raw/raw_trip_data.csv")

In [3]:
# 1. Distance vs Fare
plt.figure(figsize=(8,6))
sns.scatterplot(data=df, x="distance_km", y="fare_amount", hue="fraud", alpha=0.6)
plt.title("Distance vs Fare (Fraud vs Legit)")
plt.show(block=True)

In [4]:
# 2. Fraud distribution
sns.countplot(data=df, x="fraud")
plt.title("Fraud vs Legit Trips")
plt.show(block=True)

In [5]:
# 3. Device Reuse
device_counts = df["device_id"].value_counts().head(10)
device_counts.plot(kind="bar", title="Top Device Usage (Potential Fraud)")
plt.show(block=True)

In [6]:
# 4. Riderâ€“Driver Repeat Check
pairs = df.groupby(["rider_id", "driver_id"]).size().reset_index(name="count")
fraud_pairs = pairs[pairs["count"] > 5]
print("ðŸš© Suspicious Rider-Driver Pairs:")
print(fraud_pairs.head())

ðŸš© Suspicious Rider-Driver Pairs:
              rider_id         driver_id  count
10671  fraud_rider_123  fraud_driver_456    329

In [7]:
df.shape

(11000, 12)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11000 entries, 0 to 10999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   trip_id      11000 non-null  int64
 1   rider_id     11000 non-null  object
 2   driver_id    11000 non-null  object
 3   device_id    11000 non-null  object
 4   pickup_lat   11000 non-null  float64
 5   pickup_lon   11000 non-null  float64
 6   drop_lat     11000 non-null  float64
 7   drop_lon     11000 non-null  float64
 8   distance_km  11000 non-null  float64
 9   fare_amount  11000 non-null  float64
 10  fraud        11000 non-null  int64
 11  fraud_type   11000 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 1.0+ MB

In [9]:
df.isnull().sum(
    
)

trip_id        0
rider_id       0
driver_id      0
device_id      0
pickup_lat     0
pickup_lon     0
drop_lat       0
drop_lon       0
distance_km    0
fare_amount    0
fraud          0
fraud_type     0
dtype: int64

In [10]:
df.isnull().sum()

trip_id        0
rider_id       0
driver_id      0
device_id      0
pickup_lat     0
pickup_lon     0
drop_lat       0
drop_lon       0
distance_km    0
fare_amount    0
fraud          0
fraud_type     0
dtype: int64

In [12]:
df.describe()

,trip_id,pickup_lat,pickup_lon,drop_lat,drop_lon,distance_km,fare_amount,fraud
count,11000.000000,11000.000000,11000.000000,11000.000000,11000.000000,11000.000000,11000.000000,11000.000000
mean,5500.500000,28.610864,77.230017,28.610701,77.229645,10.143355,118.604858,0.090909
std,3175.570815,0.058087,0.057745,0.057722,0.058012,5.254654,95.956992,0.287493
min,1.000000,28.510002,77.130022,28.510013,77.130018,0.030000,0.270000,0.000000
25%,2750.750000,28.560091,77.180338,28.561255,77.178656,6.150000,66.007500,0.000000
50%,5500.500000,28.610935,77.230168,28.609914,77.230067,10.050000,104.155000,0.000000
75%,8250.250000,28.661869,77.280004,28.660895,77.280097,14.040000,145.907500,0.000000
max,11000.000000,28.709965,77.329992,28.709998,77.329970,27.210000,798.480000,1.000000

In [13]:
df['pickup_lat'].nunique()

11000